<a href="https://colab.research.google.com/github/Jane-Ngala/Moringa-Week-4-IP/blob/main/Python_Notebook_Week_4_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ELECTRIC CAR USAGE RESEARCH

##Importing Libraries

In [1]:
# Import the pandas library
import pandas as pd

# Import the numpy library
import numpy as np

##Loading our Dataset

Download our datasets :

http://bit.ly/autolib_dataset

Autolib_dataset.xlsx

In [2]:
# Load our csv file into a dataframe 
url = '/content/Autolib_dataset (2).csv'
df_autolib = pd.read_csv (url)
df_autolib.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [3]:
# preview information on the data
df_autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [4]:
# Loading the Excel data description sheet
url = 'Autolib_dataset.xlsx'
df_description = pd.read_excel (url, sheet_name=0, header=0)
df_description.head()

          Column name  ...                                           Comments
0             Address  ...                             address of the station
1                Cars  ...  Number of cars available at the station - redu...
2     Bluecar counter  ...        Number of Bluecars available at the station
3      Utilib counter  ...         Number of Utilibs available at the station
4  Utilib 1.4 counter  ...     Number of Utilib 1.4  available at the station

[5 rows x 4 columns]

##Cleaning the dataset

In [5]:
# Preview our columns
df_autolib.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [6]:
# Checking that the column names are named correctly according to description

df_description['Column name']

0                               Address
1                                  Cars
2                       Bluecar counter
3                        Utilib counter
4                    Utilib 1.4 counter
5                          Charge Slots
6                       Charging Status
7                                  City
8                     Displayed comment
9                                    ID
10                                 Kind
11                            Geo point
12                          Postal code
13                          Public name
14                        Rental status
15                         Scheduled at
16                                Slots
17                         Station type
18                               Status
19                  Subscription status
20                                  NaN
21                                  NaN
22                                  NaN
23                                  NaN
24                                  NaN
25                                  NaN
26    resources are indicated in orange
Name: Column name, dtype: object

In [7]:
# Checking if values in one column exist in another column
def similar_columns(data,col1,col2):
  data[col1] = data[col1]
  data[col2] = data[col2]


# Check if any values appear in both lists
  check = any(item in data[col1] for item in data[col2])


  return check

In [8]:
similar_columns(df_autolib, 'Cars', 'Bluecar counter')

True

In [9]:
#Creating a function to drop unnecessary columns
def drop_columns(data,columns):
  data.drop(columns, axis = 1, inplace = True)

  return data

In [10]:
# Drop the unnecessary columns
columns = ['Cars', 'Displayed comment', 'ID', 'Scheduled at', 'Geo point', 'Address','year', 'Slots', 'Station type', 'month', 'minute', 'Charging Status', 'Charge Slots', 'Rental status', 'Subscription status']
drop_columns(df_autolib, columns)
df_autolib.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... Status day  hour
0                0               0                   0  ...     ok   8    11
1                6               0                   0  ...     ok   6     7
2                3               0                   2  ...     ok   3    20
3                3               1                   0  ...     ok   4     4
4                3               0                   0  ...     ok   8    17

[5 rows x 10 columns]

- columns: address, geo point and ID, all give the location which is already provided by city

- columns: displayed comment, scheduled at, charging status, charging slots, rental status, subscription status,station type, slot and minute are unnecessary in our analysis

- Column cars is a duplicate of column Bluecar counter

- The data is from April 2018 no other years or months data provided

In [11]:
# check for any  missing values
df_autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Bluecar counter     5000 non-null   int64
 1   Utilib counter      5000 non-null   int64
 2   Utilib 1.4 counter  5000 non-null   int64
 3   City                5000 non-null   object
 4   Kind                5000 non-null   object
 5   Postal code         5000 non-null   int64
 6   Public name         5000 non-null   object
 7   Status              5000 non-null   object
 8   day                 5000 non-null   int64
 9   hour                5000 non-null   int64
dtypes: int64(6), object(4)
memory usage: 390.8+ KB

- No missing values exist in our dataframe for analysis

In [12]:
# Changing the case of column names to lower
# stripping whitespaces
# removing periods 
# replacing spaces with underscore
df_autolib.columns = df_autolib.columns.str.lower().str.strip().str.replace(' ', '_').str.replace('.', '')
df_autolib.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """

Index(['bluecar_counter', 'utilib_counter', 'utilib_14_counter', 'city',
       'kind', 'postal_code', 'public_name', 'status', 'day', 'hour'],
      dtype='object')

##Determining whether a car was picked or returned

In [13]:
# Create column for bluecar usage
df_autolib['bluecar_usage'] = df_autolib.bluecar_counter.max( )-df_autolib.bluecar_counter

# Create column for utilib usage
df_autolib['utilib_usage'] = df_autolib.utilib_counter.max( )-df_autolib.utilib_counter

# Create column for  utilib 1.4 usage
df_autolib['utilib_14_usage'] = df_autolib.utilib_14_counter.max( )-df_autolib.utilib_14_counter

In [14]:
# Creating a column to identify picking and returning of a blue car
df_autolib['bluecar_pickreturn']  =df_autolib.bluecar_usage.diff()

# Creating a column to identify picking and returning of an utilib car
df_autolib['utilib_pickreturn']  =df_autolib.utilib_usage.diff()

# Creating a column to identify picking and returning of an utilib 1.4 car
df_autolib['utilib_14_pickreturn']  =df_autolib.utilib_14_usage.diff()
df_autolib.head()

   bluecar_counter  utilib_counter  ...  utilib_pickreturn utilib_14_pickreturn
0                0               0  ...                NaN                  NaN
1                6               0  ...                0.0                  0.0
2                3               0  ...                0.0                 -2.0
3                3               1  ...               -1.0                  2.0
4                3               0  ...                1.0                  0.0

[5 rows x 16 columns]

- A +ve number indicates a car was picked, a -ve indicates a car wa returned and 0 indicates there were no changes

## Data Analysis (Blue Car)

###Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [15]:
df_autolib.bluecar_pickreturn.unique()

array([nan, -6.,  3.,  0., -3.,  2., -5.,  6., -1., -4.,  5.,  1., -2.,
        4., -7.,  7.])

In [16]:
# The most popular hour for picking up a blue car in the city of Paris 
df_autolib[(df_autolib.city == 'Paris') & (df_autolib.bluecar_pickreturn > 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
21    80
Name: hour, dtype: int64

###What is the most popular hour for returning blue cars?

In [17]:
# To find most popular hour for returning a blue car
df_autolib[df_autolib.bluecar_pickreturn < 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
6    101
Name: hour, dtype: int64

### What station is the most popular Overall?

In [18]:
#The most popular station
df_autolib[(df_autolib.kind == 'STATION') & (df_autolib.status == 'ok')].groupby('public_name')[['kind']].count().sort_values(by = 'kind', ascending = False).head(1)

                            kind
public_name
Paris/Porte de Montrouge/8    13

- The most popular station overall is the Paris/Porte de Montrogue/8

### What station is the most popular at the most popular picking hour for the blue cars?

In [19]:
# The most popular station at the most popular picking hour for blue cars
df_autolib[(df_autolib.kind == 'STATION') & (df_autolib.hour == 21)  & (df_autolib.status == 'ok')].groupby('public_name').count()[['kind']].sort_values(by = 'kind',ascending = False).head(1)

                   kind
public_name
Paris/Tronchet/19     4

- The most popular station at the  most popular picking hour for blue cars is Paris/Tronchet/19

###What postal code is the most popular for picking up Blue cars?
### Does the most popular station belong to that postal code?

In [20]:
# Most popular postal code for picking up Bluecars
df_autolib[df_autolib.bluecar_pickreturn > 0].groupby('postal_code').count()[['bluecar_pickreturn']].sort_values(by = 'bluecar_pickreturn', ascending = False).head(1)

             bluecar_pickreturn
postal_code
75015                       116

In [21]:
#The postal code of the most popular station
df_autolib[df_autolib.public_name == 'Paris/Porte de Montrouge/8'][['public_name', 'postal_code']].head(1)

                    public_name  postal_code
122  Paris/Porte de Montrouge/8        75014

- Comparing the most popular postal code and the postal code of the most popular station they do not match.

   -The most popular postal code does not belong to the most popular   station.

###What postal code is the most popular for picking up Blue cars at the most popular picking hour?

In [22]:
#  Most popular postal code at most popular picking hour for blue cars
df_autolib[(df_autolib.bluecar_pickreturn > 0) & (df_autolib.hour == 21)].groupby('postal_code').count()[['bluecar_pickreturn']].sort_values(by = 'bluecar_pickreturn', ascending = False).head(1)

             bluecar_pickreturn
postal_code
75008                         9

- The most popular postal code at most popular picking hour, does not belong to the most popular station

##**Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?**

## Data Analysis(utilib and utilib 1.4)

### What is the most popular hour for picking the cars

In [23]:
# To find most popular hour for returning an utilib car
df_autolib[df_autolib.utilib_pickreturn > 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
6    17
Name: hour, dtype: int64

In [24]:
# To find most popular hour for returning an utilib  1.4 car
df_autolib[df_autolib.utilib_14_pickreturn > 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
4    27
Name: hour, dtype: int64

### What is the most popular hour for returning the cars

In [25]:
# To find most popular hour for returning an utilib  car
df_autolib[df_autolib.utilib_pickreturn < 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
5    17
Name: hour, dtype: int64

In [26]:
# To find most popular hour for returning an utilib 1.4 car
df_autolib[df_autolib.utilib_14_pickreturn < 0].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
3    30
Name: hour, dtype: int64

### What station is the most popular at the most popular picking hour for the cars?

In [27]:
# Most popular station at the most popular pcking hour for an utilib
df_autolib[(df_autolib.kind == 'STATION') & (df_autolib.hour == 6)  & (df_autolib.status == 'ok')].groupby('public_name').count()[['kind']].sort_values(by = 'kind',ascending = False).head(1)

                         kind
public_name
Paris/Saint-HonorÃ©/123     3

In [28]:
df_autolib[(df_autolib.kind == 'STATION') & (df_autolib.hour == 4)  & (df_autolib.status == 'ok')].groupby('public_name').count()[['kind']].sort_values(by = 'kind',ascending = False).head(1)

                         kind
public_name
Paris/Claude Bernard/16     3

### What postal code is the most popular for picking up the cars?

In [29]:
# The most popular postal coode for picking up utilib
df_autolib[df_autolib.utilib_pickreturn > 0].groupby('postal_code').count()[['utilib_pickreturn']].sort_values(by = 'utilib_pickreturn', ascending = False).head(1)

             utilib_pickreturn
postal_code
75015                       22

In [33]:
# The most popular postal coode for picking up utilib 1.4
df_autolib[df_autolib.utilib_14_pickreturn > 0].groupby('postal_code').count()[['utilib_14_pickreturn']].sort_values(by = 'utilib_14_pickreturn', ascending = False).head(1)

             utilib_14_pickreturn
postal_code
75015                          35

###What postal code is the most popular for picking up the cars at their most popular picking hour?

In [31]:
# Most popular postal code at most popular picking hour of the utilib
df_autolib[(df_autolib.utilib_pickreturn > 0) & (df_autolib.hour == 6)].groupby('postal_code').count()[['utilib_pickreturn']].sort_values(by = 'utilib_pickreturn', ascending = False).head(1)

             utilib_pickreturn
postal_code
75016                        3

In [32]:
# Most popular postal code at most popular picking hour of the utilib 1.4
df_autolib[(df_autolib.utilib_14_pickreturn > 0) & (df_autolib.hour == 4)].groupby('postal_code').count()[['utilib_14_pickreturn']].sort_values(by = 'utilib_14_pickreturn', ascending = False).head(1)

             utilib_14_pickreturn
postal_code
75008                           2

- Comparing the data analysis on the Blue cars and the data analysis on the utilib and utilib 1.4 cars, there is a change in the results except on the results of the most popular postal code for picking up either of the cars